Database/308416.DTD

<!ELEMENT LHC (ODD+, KBO*, KLO*, KPO*, KTO*, HS*, OU1*, OU2*, MZD*)> --- LHC je cely dokument zabaleny
<!ATTLIST LHC LHC_KOD    CDATA #REQUIRED>
<!ATTLIST LHC LHC_NAZ    CDATA #IMPLIED>
<!ATTLIST LHC LHP_OD     CDATA #IMPLIED>
<!ATTLIST LHC LHP_DO     CDATA #IMPLIED>
<!ATTLIST LHC LHP_LIC    CDATA #IMPLIED>
<!ATTLIST LHC LHP_TAX    CDATA #IMPLIED>
<!ATTLIST LHC LHP_Z_OD   CDATA #IMPLIED>
<!ATTLIST LHC LHP_Z_DO   CDATA #IMPLIED>
<!ATTLIST LHC LHP_Z_LIC  CDATA #IMPLIED>
<!ATTLIST LHC LHP_Z_TAX  CDATA #IMPLIED>
<!ATTLIST LHC KU_DATUM   CDATA #IMPLIED>
<!ATTLIST LHC LHP_NEZDAR CDATA #IMPLIED>
<!ATTLIST LHC TEZ_PROC   CDATA #IMPLIED>
<!ATTLIST LHC NOR_PAS    CDATA #IMPLIED>
<!ATTLIST LHC ETAT_TO    CDATA #IMPLIED>
<!ATTLIST LHC LHC_PN_PRO CDATA #IMPLIED>
<!ATTLIST LHC ETAT_TV    CDATA #IMPLIED>
<!ATTLIST LHC ETAT_TVYB  CDATA #IMPLIED>
<!ATTLIST LHC LHC_IND    CDATA #IMPLIED>
<!ATTLIST LHC LHC_MAX    CDATA #IMPLIED>
<!ATTLIST LHC ETAT CDATA #IMPLIED>
<!ATTLIST LHC MVYCH_DO40 CDATA #IMPLIED>

<!ELEMENT HS EMPTY>   --nakonci tabulka nejakych parametrov
<!ATTLIST HS LHC_KOD CDATA #REQUIRED>
<!ATTLIST HS CISLO_HS CDATA #REQUIRED>
<!ATTLIST HS NAZEV_HS CDATA #IMPLIED>
<!ATTLIST HS OBMYTI CDATA #IMPLIED>
<!ATTLIST HS OBN_DOBA CDATA #IMPLIED>
<!ATTLIST HS MZD CDATA #IMPLIED>
<!ATTLIST HS ODVOZ_TEZ CDATA #IMPLIED>

<!ELEMENT OU1 EMPTY> -- nakonci tabulka nejakych parametrov
<!ATTLIST OU1 LHC_KOD CDATA #REQUIRED>
<!ATTLIST OU1 KOD CDATA #REQUIRED>
<!ATTLIST OU1 POPIS CDATA #IMPLIED>

<!ELEMENT OU2 EMPTY> --nakonci tabulka prarmetrov
<!ATTLIST OU2 LHC_KOD CDATA #REQUIRED>
<!ATTLIST OU2 KOD CDATA #REQUIRED>
<!ATTLIST OU2 POPIS CDATA #IMPLIED>

<!ELEMENT MZD EMPTY>  --nakonci tabulka parametrov
<!ATTLIST MZD LHC_KOD CDATA #REQUIRED>
<!ATTLIST MZD CISLO_HS CDATA #REQUIRED>
<!ATTLIST MZD MZD CDATA #REQUIRED>
<!ATTLIST MZD DR_ZKR CDATA #REQUIRED>
<!ATTLIST MZD LT_SLT CDATA #REQUIRED>

