Database/308416.DTD

<!ELEMENT DATAISLH (LHC)>

<!ELEMENT B   EMPTY> ---bod
<!ATTLIST B S CDATA #REQUIRED>

<!ELEMENT L  (B, B+)> ---ciara
<!ELEMENT P  (L+)>   ---polygon
<!ELEMENT MB (B+)>   --- multipoint
<!ELEMENT ML (L+)>   ---multiciara
<!ELEMENT MP (P+)>   --- multipolygon

<!ELEMENT LHC (ODD+, KBO*, KLO*, KPO*, KTO*, HS*, OU1*, OU2*, MZD*)> --- LHC je cely dokument zabaleny
<!ATTLIST LHC LHC_KOD    CDATA #REQUIRED>
<!ATTLIST LHC LHC_NAZ    CDATA #IMPLIED>
<!ATTLIST LHC LHP_OD     CDATA #IMPLIED>
<!ATTLIST LHC LHP_DO     CDATA #IMPLIED>
<!ATTLIST LHC LHP_LIC    CDATA #IMPLIED>
<!ATTLIST LHC LHP_TAX    CDATA #IMPLIED>
<!ATTLIST LHC LHP_Z_OD   CDATA #IMPLIED>
<!ATTLIST LHC LHP_Z_DO   CDATA #IMPLIED>
<!ATTLIST LHC LHP_Z_LIC  CDATA #IMPLIED>
<!ATTLIST LHC LHP_Z_TAX  CDATA #IMPLIED>
<!ATTLIST LHC KU_DATUM   CDATA #IMPLIED>
<!ATTLIST LHC LHP_NEZDAR CDATA #IMPLIED>
<!ATTLIST LHC TEZ_PROC   CDATA #IMPLIED>
<!ATTLIST LHC NOR_PAS    CDATA #IMPLIED>
<!ATTLIST LHC ETAT_TO    CDATA #IMPLIED>
<!ATTLIST LHC LHC_PN_PRO CDATA #IMPLIED>
<!ATTLIST LHC ETAT_TV    CDATA #IMPLIED>
<!ATTLIST LHC ETAT_TVYB  CDATA #IMPLIED>
<!ATTLIST LHC LHC_IND    CDATA #IMPLIED>
<!ATTLIST LHC LHC_MAX    CDATA #IMPLIED>
<!ATTLIST LHC ETAT CDATA #IMPLIED>
<!ATTLIST LHC MVYCH_DO40 CDATA #IMPLIED>

<!ELEMENT ODD (DIL+)> --- viacero tvarov ?
<!ATTLIST ODD ODD CDATA #REQUIRED>

<!ELEMENT DIL (POR+)> -- vramci jedneho ODD je viacero DIL A,B,C,D...?
<!ATTLIST DIL DIL CDATA #REQUIRED>

<!ELEMENT POR (KAT+, PSK*, BZL*, JP*)>
<!ATTLIST POR POR CDATA #REQUIRED>
<!ATTLIST POR SDR_POR CDATA #IMPLIED>
<!ATTLIST POR MAJ_KOD CDATA #IMPLIED>
<!ATTLIST POR MAJ_NAZ CDATA #IMPLIED>
<!ATTLIST POR MAJ_DRUH CDATA #IMPLIED>
<!ATTLIST POR ORG_UROVEN CDATA #IMPLIED>
<!ATTLIST POR PAS_OHR CDATA #IMPLIED>
<!ATTLIST POR LES_OBL CDATA #IMPLIED>
<!ATTLIST POR LES_PODOBL CDATA #IMPLIED>
<!ATTLIST POR ZVL_STATUT CDATA #IMPLIED>
<!ATTLIST POR OLH_LIC CDATA #IMPLIED>
<!ATTLIST POR OLH CDATA #IMPLIED>
<!ATTLIST POR POR_TEXT CDATA #IMPLIED>
<!ATTLIST POR HIST_LHC CDATA #IMPLIED>
<!ATTLIST POR HIST_LHPOD CDATA #IMPLIED>
<!ATTLIST POR HIST_ROZD CDATA #IMPLIED>

<!ELEMENT KAT   EMPTY>
<!ATTLIST KAT KATEGORIE CDATA #IMPLIED>
<!ATTLIST KAT KAT_SPEC CDATA #IMPLIED>

<!ELEMENT PSK (PSK_OBRAZ,ETZ+)>
<!ELEMENT PSK_OBRAZ (MP*)>
<!ATTLIST PSK PSK CDATA #REQUIRED>
<!ATTLIST PSK PSK_P0 CDATA #IMPLIED>
<!ATTLIST PSK PSK_V CDATA #IMPLIED>
<!ATTLIST PSK PSK_P CDATA #IMPLIED>
<!ATTLIST PSK KVAL_P CDATA #IMPLIED>
<!ATTLIST PSK ORP CDATA #IMPLIED>
<!ATTLIST PSK KRAJ CDATA #IMPLIED>
<!ATTLIST PSK KATUZE_KOD CDATA #IMPLIED>
<!ATTLIST PSK KAT_PAR_KOD CDATA #IMPLIED>
<!ATTLIST PSK SLT CDATA #IMPLIED>
<!ATTLIST PSK LT CDATA #IMPLIED>
<!ATTLIST PSK TER_TYP CDATA #IMPLIED>
<!ATTLIST PSK PRIB_VZD CDATA #IMPLIED>
<!ATTLIST PSK HOSP_ZP CDATA #IMPLIED>
<!ATTLIST PSK DAN CDATA #IMPLIED>
<!ATTLIST PSK PSK_TEXT CDATA #IMPLIED>
<!ATTLIST PSK CISLO_TEL CDATA #IMPLIED>

<!ELEMENT ETZ (ZAL*, DRV*)>
<!ATTLIST ETZ ETAZ CDATA #REQUIRED>
<!ATTLIST ETZ ETAZ_PS CDATA #IMPLIED>
<!ATTLIST ETZ ETAZ_PP CDATA #IMPLIED>
<!ATTLIST ETZ HS CDATA #IMPLIED>
<!ATTLIST ETZ OBMYTI CDATA #IMPLIED>
<!ATTLIST ETZ OBN_DOBA CDATA #IMPLIED>
<!ATTLIST ETZ POC_OBNOVY CDATA #IMPLIED>
<!ATTLIST ETZ MZD CDATA #IMPLIED>
<!ATTLIST ETZ VEK CDATA #IMPLIED>
<!ATTLIST ETZ ZAKM CDATA #IMPLIED>
<!ATTLIST ETZ HOSP_TV CDATA #IMPLIED>
<!ATTLIST ETZ M_TEZ_PROC CDATA #IMPLIED>
<!ATTLIST ETZ ODVOZ_TEZ CDATA #IMPLIED>
<!ATTLIST ETZ M_Z_ZASOBY CDATA #IMPLIED>
<!ATTLIST ETZ PRO_P CDATA #IMPLIED>
<!ATTLIST ETZ PRO_NAL CDATA #IMPLIED>
<!ATTLIST ETZ PRO_POC CDATA #IMPLIED>
<!ATTLIST ETZ TV_P CDATA #IMPLIED>
<!ATTLIST ETZ TV_NAL CDATA #IMPLIED>
<!ATTLIST ETZ TV_POC CDATA #IMPLIED>
<!ATTLIST ETZ TO_P CDATA #IMPLIED>
<!ATTLIST ETZ TO_NAL CDATA #IMPLIED>
<!ATTLIST ETZ TO_DUVOD CDATA #IMPLIED>
<!ATTLIST ETZ TO_ZPUSOB CDATA #IMPLIED>
<!ATTLIST ETZ TVYB_P CDATA #IMPLIED>
<!ATTLIST ETZ TVYB_NAL CDATA #IMPLIED>
<!ATTLIST ETZ ZAL_DRUH CDATA #IMPLIED>
<!ATTLIST ETZ ZAL_P CDATA #IMPLIED>

<!ELEMENT ZAL EMPTY>
<!ATTLIST ZAL ZAL_DR CDATA #IMPLIED>
<!ATTLIST ZAL ZAL_DR_P CDATA #IMPLIED>


<!ELEMENT DRV (POS*)>
<!ATTLIST DRV DR_ZKR CDATA #REQUIRED>
<!ATTLIST DRV DR_KOD CDATA #IMPLIED>
<!ATTLIST DRV DR_NAZ CDATA #IMPLIED>
<!ATTLIST DRV DR_PUVOD CDATA #IMPLIED>
<!ATTLIST DRV ZDR_REP CDATA #IMPLIED>
<!ATTLIST DRV ZAST CDATA #IMPLIED>
<!ATTLIST DRV VYSKA CDATA #IMPLIED>
<!ATTLIST DRV TLOUSTKA CDATA #IMPLIED>
<!ATTLIST DRV BON_R CDATA #IMPLIED>
<!ATTLIST DRV BON_A CDATA #IMPLIED>
<!ATTLIST DRV GEN_KLAS CDATA #IMPLIED>
<!ATTLIST DRV VYB_STR CDATA #IMPLIED>
<!ATTLIST DRV DR_ZAS_TAB CDATA #IMPLIED>
<!ATTLIST DRV DR_ZAS_HA CDATA #IMPLIED>
<!ATTLIST DRV DR_ZAS_CEL CDATA #IMPLIED>
<!ATTLIST DRV DR_CBP CDATA #IMPLIED>
<!ATTLIST DRV DR_CPP CDATA #IMPLIED>
<!ATTLIST DRV DR_PMP CDATA #IMPLIED>
<!ATTLIST DRV HMOT CDATA #IMPLIED>
<!ATTLIST DRV HK CDATA #IMPLIED>
<!ATTLIST DRV IMISE CDATA #IMPLIED>
<!ATTLIST DRV DR_KVAL CDATA #IMPLIED>
<!ATTLIST DRV PROC_SOUS CDATA #IMPLIED>
<!ATTLIST DRV DR_TV CDATA #IMPLIED>
<!ATTLIST DRV DR_TO CDATA #IMPLIED>
<!ATTLIST DRV DR_TVYB CDATA #IMPLIED>

<!ELEMENT POS EMPTY>    -psokoeda drevina vramci nej
<!ATTLIST POS POSKOZ_D CDATA #IMPLIED>
<!ATTLIST POS POSKOZ_R CDATA #IMPLIED>

<!ELEMENT BZL (BZL_OBRAZ )> ---napr ze lesna skladka a potom normaly polygon
<!ELEMENT BZL_OBRAZ (MP*)>
<!ATTLIST BZL BZL CDATA #REQUIRED>
<!ATTLIST BZL ORP CDATA #IMPLIED>
<!ATTLIST BZL KRAJ CDATA #IMPLIED>
<!ATTLIST BZL KATUZE_KOD CDATA #IMPLIED>
<!ATTLIST BZL BZL_P0 CDATA #IMPLIED>
<!ATTLIST BZL BZL_V CDATA #IMPLIED>
<!ATTLIST BZL BZL_P CDATA #IMPLIED>
<!ATTLIST BZL KVAL_P CDATA #IMPLIED>
<!ATTLIST BZL KAT_PAR_KOD CDATA #IMPLIED>
<!ATTLIST BZL BZL_VYUZ CDATA #IMPLIED>
<!ATTLIST BZL BZL_DRUH CDATA #IMPLIED>
<!ATTLIST BZL CISLO_TEL CDATA #IMPLIED>

<!ELEMENT JP (JP_OBRAZ )> -- napr ze odvozni cesta
<!ELEMENT JP_OBRAZ (MP*)>
<!ATTLIST JP JP CDATA #REQUIRED>
<!ATTLIST JP JP_PUPFL CDATA #IMPLIED>
<!ATTLIST JP ORP CDATA #IMPLIED>
<!ATTLIST JP KRAJ CDATA #IMPLIED>
<!ATTLIST JP KATUZE_KOD CDATA #IMPLIED>
<!ATTLIST JP JP_P0 CDATA #IMPLIED>
<!ATTLIST JP JP_V CDATA #IMPLIED>
<!ATTLIST JP JP_P CDATA #IMPLIED>
<!ATTLIST JP KVAL_P CDATA #IMPLIED>
<!ATTLIST JP KAT_PAR_KOD CDATA #IMPLIED>
<!ATTLIST JP JP_VYUZ CDATA #IMPLIED>
<!ATTLIST JP JP_DRUH CDATA #IMPLIED>
<!ATTLIST JP CISLO_TEL CDATA #IMPLIED>

<!ELEMENT HS EMPTY>   --nakonci tabulka nejakych parametrov
<!ATTLIST HS LHC_KOD CDATA #REQUIRED>
<!ATTLIST HS CISLO_HS CDATA #REQUIRED>
<!ATTLIST HS NAZEV_HS CDATA #IMPLIED>
<!ATTLIST HS OBMYTI CDATA #IMPLIED>
<!ATTLIST HS OBN_DOBA CDATA #IMPLIED>
<!ATTLIST HS MZD CDATA #IMPLIED>
<!ATTLIST HS ODVOZ_TEZ CDATA #IMPLIED>

<!ELEMENT OU1 EMPTY> -- nakonci tabulka nejakych parametrov
<!ATTLIST OU1 LHC_KOD CDATA #REQUIRED>
<!ATTLIST OU1 KOD CDATA #REQUIRED>
<!ATTLIST OU1 POPIS CDATA #IMPLIED>

<!ELEMENT OU2 EMPTY> --nakonci tabulka prarmetrov
<!ATTLIST OU2 LHC_KOD CDATA #REQUIRED>
<!ATTLIST OU2 KOD CDATA #REQUIRED>
<!ATTLIST OU2 POPIS CDATA #IMPLIED>

<!ELEMENT MZD EMPTY>  --nakonci tabulka parametrov
<!ATTLIST MZD LHC_KOD CDATA #REQUIRED>
<!ATTLIST MZD CISLO_HS CDATA #REQUIRED>
<!ATTLIST MZD MZD CDATA #REQUIRED>
<!ATTLIST MZD DR_ZKR CDATA #REQUIRED>
<!ATTLIST MZD LT_SLT CDATA #REQUIRED>

!done!<!ELEMENT KBO (BOD_OBRAZ)> --len nejaky bod
<!ELEMENT BOD_OBRAZ (MB)>
<!ATTLIST KBO BOD_DRUH CDATA #IMPLIED>
<!ATTLIST KBO BOD_ZNACKA CDATA #IMPLIED>
<!ATTLIST KBO BOD_UHELZN CDATA #IMPLIED>
<!ATTLIST KBO BOD_BARVA CDATA #IMPLIED>
<!ATTLIST KBO L_ CDATA #IMPLIED>

!done<!ELEMENT KLO (LIN_OBRAZ)>
<!ELEMENT LIN_OBRAZ (ML)>
<!ATTLIST KLO LIN_DRUH CDATA #IMPLIED>
<!ATTLIST KLO LIN_ZNACKA CDATA #IMPLIED>
<!ATTLIST KLO LIN_BARVA CDATA #IMPLIED>
<!ATTLIST KLO L_ CDATA #IMPLIED>

!done!<!ELEMENT KPO (PLO_OBRAZ)>
<!ELEMENT PLO_OBRAZ (MP)>
<!ATTLIST KPO PLO_DRUH CDATA #IMPLIED>
<!ATTLIST KPO PLO_ZNACKA CDATA #IMPLIED>
<!ATTLIST KPO PLO_BARVA CDATA #IMPLIED>
<!ATTLIST KPO L_ CDATA #IMPLIED>

!done!<!ELEMENT KTO (TXT_OBRAZ)>
<!ELEMENT TXT_OBRAZ (B)>
<!ATTLIST KTO TEXT CDATA #IMPLIED>
<!ATTLIST KTO TXT_STYL CDATA #IMPLIED>
<!ATTLIST KTO TXT_UHEL CDATA #IMPLIED>
<!ATTLIST KTO L_ CDATA #IMPLIED>

